@import './variables.scss';
body {
  background-color: $primary-background;
}
.appContainer {
  display: flex;
  justify-content: center;
  font-size: 1.15em;
  font-family: 'poppins', 'roboto', sans-serif;
}
.appBody {
  color: $primary-text;
  padding: 2rem;
  max-width: 1440px;
}
