.homeImage{
  max-width: 100%;
  border-radius: 10%;
  flex: 1;
}

.homeImageDiv{
  flex: 1;
}

.homeWrapper{
  display:flex; 
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.centeredHeader{
  flex: 1;
  color: rgb(106 106 106);
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
}

.ima{
  font-size: 2vw;
  font-weight: normal;
}

.aboutMe {
  padding: 0.5%;
  font-size: 16pt;
  flex-wrap: wrap;
}