.wrapper {
  display:flex;
  min-height: 80vh;
  flex-direction: column;
  font-size: 1.15em;
  /*display: grid;
  grid-template-columns: 400px 70% 100px;
  grid-template-rows: 2000%;
  /*grid-gap: 5px; */
  /*column-gap: 5px; */
 /* background-color: #fff;
  color: #444;*/
}
.appHeader {
  background-color: #444;
  color: #fff;
  /* border-radius: 5px; */
  padding: 30px;
  font-size: 150%;
}
.appBody{
  background-color: rgb(240, 235, 235);
  color: #444;
  /* border-radius: 5px; */
  padding: 30px;
  font-size: 150%;
}
.appFooter{
  background-color: #444;
  color: #fff;
  padding: 30px;
  font-size: 150%;
} 
.centeredHeader{
  text-align: center;
  color: rgb(106, 106, 106)
}
.headerDiv{
  padding-top: 5vh;
  text-align: center;
  font-family: 'Zilla Slab Highlight', sans-serif;
  color: black;
}
.link{
  display: inline-flex;
  margin: 0 5px;
  color: white;
  font-size: 16px;
}